.dashboard{
    display: flex;
    /* background-color: gray; */
}

.dashboard-left{
    height: 93.9vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.user-events{
    width: 70vw;
    height: 30vw;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.campus-ambassador{
    border: 1px solid silver;
    border-radius: 30px;
    width: 70vw;
    margin-top: 20px;
    height: 55vw;
    margin-left: 20px;
}

.dashboard-right{
    /* background-color: lightgreen; */
    border-radius: 30px;
    border: 1px solid silver;
    width: 33vw;
    margin-right: 20px;
    max-height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.user-events .user{
    /* background-color: lightblue; */
    border: 1px solid silver;
    border-radius: 30px;
    width: 30%;
    margin: 20px;
}
.user-events .events{
    /* background-color: lightblue; */
    border: 1px solid silver;
    border-radius: 30px;
    width: 70%;
    margin: 20px;
    margin-left: 10px;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user img{
    border-radius: 50%;
    margin-top: 10px;
}
.events{
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: scroll;
}
.events::-webkit-scrollbar{
    display: none;
}
