html{
    scroll-behavior: smooth;
}

.home-main{
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nk23-a5689.appspot.com/o/Main.png?alt=media&token=dbb94f93-83ed-46fb-83eb-fd1ad698eed7");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nk-text img{
    width: 1200px;
}

.home-about-us{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-about-us .top{
    display: flex;
    flex: 1.2;
}
.home-about-us .bot{
    flex: 1;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot p{
    width: 1000px;
    line-height: 25px;
}

.home-about-us .nk-log{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-about-us .gits-log{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.home-about-us .gits-log img{
    max-width: 320px;
}

.home-about-us .nk-log img,.home-about-us .gits-log img{
    width: 450px;
}
.nk-text{
    transition: all 0.2s ease-in;
}
.nk-text:hover{
    transform: scale(1.08);
}

.home-events{
    height: 100vh;
    background-color:#16171B;
    display: flex;
    flex-direction: column;
}

.flage-top{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

.flage-bot{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 550px;
    margin-right: 550px;
    padding: 20px;
}

.flage-top img,.flage-bot img{
    max-width: 28vh;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.flage-top img:hover,.flage-bot img:hover{
    transform: scale(1.2);
}

.footer{
    height: 40vh;
}
.watermark{
    opacity: 60%;
    width: 130px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}
@media screen and (max-width:800px) {
    .watermark{
        position: fixed;
        width: 60px;
        top: 80px;
        left: 10px;
        
    }
    .home-parent{
        max-width: 100vw;
    }
    .home-main{
        max-width: 100vw;
        padding: 0;
    }
    .home-main .nk-text img{
        max-width: 100vw;
    }

    .home-about-us img{
        max-width: 150px;
    }
    .home-about-us .nk-log,.home-about-us .gits-log{
        max-height: 40vh;
    }
    .top{
        max-height: 30vh;
    }
    .home-about-us .gits-log img{
        max-width: 110px;
    }

    .home-about-us .bot{
        margin-top: 0;
    }
    .home-about-us .bot p{
        max-width: 80vw;
    }
    .home-events{
        max-width: 100vw;
    }
    .home-events .flage-top img,.home-events .flage-bot img{
        max-width: 220px;
        margin: 20px;
    }
    .home-events .flage-top,.home-events .flage-bot{
        margin: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}