html{
    scroll-behavior: smooth;
}

.home-main{
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nk23-a5689.appspot.com/o/Main.png?alt=media&token=dbb94f93-83ed-46fb-83eb-fd1ad698eed7");
    background-repeat: no-repeat;
    display: flex;
    background-position: center center;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.nk-text img{
    width: 1000px;
}
.dates{
    flex: 1;
    max-width: 250px;
    display: flex;justify-content: center;align-items: center;
    position: absolute;
    top: 120px;
}
.dates img {
    max-width: 250px;
}
.nk-text{
    flex: 1;
    display: flex;justify-content: center;align-items: center;
    transition: all 0.2s ease-in;
}
.nk-text:hover{
    transform: scale(1.08);
}

.home-grad{
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    height: 150px;
    pointer-events: none;
    background-image: linear-gradient(to top,rgba(0,0,0),transparent);
}

.home-about-us{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-bottom: 150px;
}


.grad{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(0,0,0),transparent);
    height: 150px;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
.grad2{
    position: absolute;
    width: 100%;
    height: 15vh;
    bottom: 0;
    z-index: 2;
    background-image: linear-gradient(to top,rgb(0,0,0),transparent);
    pointer-events: none;
}
/* !OVERLAY */
.ab-text{
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ab-top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.ab-top img{
    width: 350px;
}
.ab-bot img{
    width: 350px;
}
.ab-bot p{
    max-width: 500px;
    line-height: 30px;
}
.ab-top p{
    max-width: 500px;
    line-height: 30px;
}
.home-about-us p{
    opacity: 70%;
    letter-spacing: 1.1px;
}
.ab-bot{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}
.img-box{
    width: 20vw;
    background-color: black;
    height: 20vw;
    border-radius: 30px;
    transition: all 0.2s ease-in;
    opacity: 80%;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.home-about-us .ab-text .text-title{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    z-index: 5;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.home-about-us .ab-text .text-title:hover{
    transform: scale(1.05);
}
.home-about-us .ab-text .text-title strong{
    font-size: 4vw;
    color: #8C2725;
}

.home-events{
    height: 100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,1),#16171B);
    display: flex;
    flex-direction: column;
}
.home-events h1{
    color: white;
    width: 100%;
    display: flex;
    font-size: 3vw;
    gap: 5px;
    justify-content: center;
    transition: all 0.2s ease-in;
}
.home-events h1 strong a{
    font-size: 4vw;
    color: #8C2725;
}
.home-events h1:hover{
    transform: scale(1.05);
}
.flage-top::-webkit-scrollbar,.flage-bot::-webkit-scrollbar{
    display: none;
}

.flage-top{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

.flage-bot{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 550px;
    margin-right: 550px;
    padding: 20px;
}

.flage-top img,.flage-bot img{
    max-width: 28vh;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.flage-top img:hover,.flage-bot img:hover{
    transform: scale(1.2);
}

.footer{
    height: 40vh;
}
.watermark{
    opacity: 60%;
    width: 130px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.faq-page{
    min-height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#16171B ;
}
.faq-page .he{
    font-size: 70px;
    color: #8C2725;
    margin-bottom: 100px;
    display: flex;
    gap: 3px;
}
.faq-page .he span{
    color: white;
}


@media screen and (max-width:800px) {
    .home-main{
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nk23-a5689.appspot.com/o/mob.png?alt=media&token=8ac38dcd-3e8b-4b54-90f7-f98c8529dcb1");
        background-position: center center;
        background-size: 500px;
    }
    .nk-text{
        margin-top: 420px;
    }
    .watermark{
        display: none;
    }
    .home-parent{
        max-width: 100vw;
    }
    .home-main{
        max-width: 100vw;
        padding: 0;
    }
    .home-main .nk-text img{
        max-width: 100vw;
    }

    .home-about-us img{
        max-width: 150px;
    }

    .home-about-us{
        display: flex;
        flex-direction: column;
    }
    .home-about-us .ab-top{
        display: none;
    }
    .home-about-us .ab-bot{
        flex-direction: column;
    }
    .home-about-us .ab-bot .img-box{
        width: 80vw;
        height: 30vh;
    }
    .ab-bot .img-box img{
        min-height: 100%;
        min-width: 100%;
    }

    .home-events{
        max-width: 100vw;
    }
    .home-events .flage-top img,.home-events .flage-bot img{
        max-width: 220px;
        margin: 20px;
    }
    .home-events .flage-top,.home-events .flage-bot{
        margin: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .home-events h1{
       font-size: 7vw;
    }
    .home-events h1 strong a{
        font-size: 10vw;
    }
    .home-about-us{
        height: 130vh;
    }
    .home-about-us .ab-text .text-title{
        font-size: 7vw;
        margin-bottom: 50px;
        margin-top: 40px;
    }
    .home-about-us .ab-text .text-title strong{
        font-size: 10vw;
    }
    .home-about-us p{
        opacity: 70%;
        letter-spacing: 1.2px;
    }
}