.navbar{
    border: 0px solid white;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    height: fit-content;
    z-index: 8;
    margin: 0;
    color: white;
}

#logo{
    border: 0px solid yellow;
    width: 7%;
    transition: all 0.2s ease-in;
    margin-right: 30px;
}

#logo:hover{
    transform: scale(1.02);
}
#logo img{
    width: 100%;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar button{
    background-color: black;
    color: white;
    font-size: 2rem;
}
.navbar button:hover{
    cursor: pointer;
}
.navbar .links{
    font-size: 1.3rem;
    display: flex;
    gap: 50px;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    display: flex;
    height: 140px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    transition: all 0.2s ease-in;
}
.navbar .links a{
    transition: all 0.2s ease-in;
}
.navbar .links a:hover{
    transform: scale(1.08);
}

.links p{
    color: white;
    z-index: 1;
    cursor: pointer;
}
.smallNav{
    border: 0px solid white;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#headinglogo{
    border: 0px solid white;
    color: white;
}
.nav-elements active {
    border : 1px solid black;
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
  #sidebarLinks{
    display: none;
  }

  .nav-user-pfp{
    border-radius: 50%;
    width: 35px;
  }

@media (max-width:720px){
    .links{
        max-height: 0px;
        display: none;
    }
    .links p{
        display: none;
    }
    #logo{
        display: none;
    }
    .smallNav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        
        margin-top: 0px;
        background-color: transparent;
        position: fixed;
        width: 88%;
        height: 60px;
        padding: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .logo-small{
        width: 80px;
        transition: all 0.2s ease-in;
    }
    .logo-small:hover{
        transform: scale(1.08);
    }
    .nav-elements {
        position: absolute;
        left: 0;
        top: 50px;
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(5px);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.2s ease-in;
        overflow: hidden;
        z-index: 1;
      }
      .nav-elements.active {
        border: 0px solid white;
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        position: fixed;
        border-radius: 15px;
      }
      #sidebarLinks{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        gap: 50px;
        border: 0px solid white;
      }
      #sidebarLinks button{
        border: none;
        background-color: transparent;
        font-size: 20px;
      }
      #userBox{
        border: 0px solid white;
        margin: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
      }

}

