html{
    scroll-behavior: auto;
}

.render-sub-main{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nk23-a5689.appspot.com/o/Main.png?alt=media&token=dbb94f93-83ed-46fb-83eb-fd1ad698eed7");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}


.sub-page-events{
    width: 75vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 140px;
}

.sub-page-event-banner {
    border-radius: 20px;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 20px;
    transition: all 0.2s ease-in;
}
.sub-page-event-banner:hover{
    transform: scale(1.08);
    cursor: pointer;
    filter: blur(2px);
}
.image-text-wrap{
    border-radius: 30px;
    position: relative;
}
.image-text-wrap p{
    color: white;
    position: absolute;
    width: 100%;
    margin: 0;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin-left: -50px;
    transition:  all 0.2s ease-in;
    opacity: 0;
    font-size: 25px;
}
.image-text-wrap:hover p{
    opacity: 1;
}

.back{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 25px;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    background-color: rgba(140, 39, 37,0.5);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.back:hover{
    background-color: #fff;
    color: #8C2725;
}

@media screen and (max-width:600px) {
    .sub-page-events{
        display: flex;
        flex-direction: column;
    }
    .render-sub-main{
        margin:0;
        padding: 0;
    }
    .image-text-wrap{
        max-width: 350px;
        margin: 0;
    }
    .image-text-wrap p{
        margin-left: 0;
        width: 300px;
    }
    .sub-page-event-banner{
        max-width: 300px;
        margin: 30px auto;
        margin-top: 0px;
    }
}

.close{
    background-color:#8C2725; 
    position : absolute;
    right:120px;
    top:150px;
    width:50px;
    color: white;
    height:50px;
    border-radius: 50%;
    border: none;
    transition: all 0.2s ease-in;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close:hover{
    background-color: #fff;
    color: #8C2725;
    border: 1px solid #8C2725;
}