
.render-main{
    height: 90vh;
    width: 90vw;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 85px;
    background-color: #1E1E1E;
    display: flex;
    color: white;
}
.render-main .left{
    flex: 0.35;
    height: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
}
.left .banner-img{
    max-width: 450px;
    border-radius: 30px;
}

.render-main .right{
    flex: 0.6;
    height: 90%;
    margin-right: 2rem;
    margin-top: 2rem;
    overflow-y: scroll;
}
.right::-webkit-scrollbar{
    display: none;
}

.right h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.cat-tags{
    padding-left: 6px;
    font-size: 18px;
    margin-bottom: 60px;
}
.deet{
    display: flex;
    gap: 30px;
}
.descr-tag{
    line-height: 20px;
    width: 800px;
    margin-bottom: 30px;
}

.coord-deets{
    line-height: 23px;
    margin-bottom: 40px;
}
.right .rules{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.rules-section p{
    line-height: 20px;
    width: 900px;
}
.reg-button{
    width: 20rem;
    height: 4rem;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    background-color: #8C2725;
    transition: all 0.2s ease-in;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 100px;
}
.reg-button:hover{
    background-color: white;
    color: #8C2725;
    transform: scale(1.02);
}

.title-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-bar p{
    background-color: #8C2725;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-weight: bold;
    transition: all 0.2s ease-in;
}
.title-bar p:hover{
    background-color: white;
    color: #8C2725;
}

@media screen and (max-width:600px) {
    .render-main{
        display: flex;
        flex-direction: column;
        min-height: 200vh;
        width: 450px;
    }
    .left .banner-img{
        max-width: 384px;
    }
    .left{
        max-height: 500px;
        margin: 0;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right .title-bar{
        display: flex;
        flex-direction: column;
    }
    .right .title-bar h1{
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .deet{
        display: flex;
        gap: 15px;
        margin-left: 27px;
    }
    .cat-tags{
        margin-top: 50px;
    }
    .descr-tag{
        max-width: 390px;
        margin-left: 2.5rem;
    }
    .coor-deets{
        margin-left: 2.5rem;
    }
    .rules-section{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }
    .rules-section p{
        max-width: 390px;
    }
    .render-main{
        position: relative;
    }
    .reg-button{
        position: absolute;
        bottom: -1200px;
        margin-left: 40px;
    }


}